*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(imgs/menu/fondoo5.jpg);
  background-repeat: no-repeat; /* Evita la repetición */
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en la pantalla */
}

  
.slot {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #add8e600;
  border: 0px dashed #000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

#slot1 { top: 565px; left: 350px; } /* listo*/
#slot2 { top: 500px; left: 355px; } /* listo*/
#slot3 { top: 440px; left: 350px; } /* listo*/
#slot4 { top: 360px; right: 1120px; } 


#slot5 { top: 565px; left: 560px; } /* listo*/
#slot6 { top: 490px; left: 525px; } /* listo*/
#slot7 { top: 400px; left: 500px; } /* listo*/
#slot8 { top: 330px; right: 980px; } 

#slot9 { top: 555px; left: 740px; } /* listo*/
#slot10 { top: 480px; left: 700px; } /* listo*/
#slot11 { top: 390px; left: 660px; } /* listo*/
#slot12 { top: 295px; right: 820px; } 

#slot13 { top: 555px; left: 920px; } /* listo*/
#slot14 { top: 470px; left: 875px; } /* listo*/
#slot15 { top: 380px; left: 865px; } /* listo*/
#slot16 { top: 290px; right: 620px; } 
  
  
  
.box {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 80px;
  cursor: grab;
  position: relative;
}
  

  
.boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 5px;
}
  
.piramides2{
  width: 900px;
}
  
.animales {
  width: 50px;
}
  
.animales1 {
  width: 65px;
}
.animales2 {
  width: 80px;
}
  
  
.contenedorjuego{
  margin-left: 250px;
  display: flex;
  width: 1050px;
  height: 550px;
  background-color: #FCFCFC;
  border: 4px #FF8800;
  border-style: solid;
}

.titulo{
  text-align: center;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}


.atras{
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: #ff8800;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: shaking 2s infinite;
}

