body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(imgs/menu/fondoo5.jpg);
  background-repeat: no-repeat; /* Evita la repetición */
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en la pantalla */
  color: black;
}

.menu-container {
  text-align: center;
}

.game-title {
  font-size: 3rem;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: #ff8800;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: shaking 2s infinite;
}

.menu-button:hover {
  background: #ff6600;
  transform: scale(1.1);
}

.menu-button:active {
  transform: scale(0.95);
}

/* Estilo del Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #FFE9BA;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 80%;
}

.level-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.level-card {
  text-align: center;
  background: #FF8800;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.level-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.level-card p {
  margin-top: 10px;
  font-size: 1rem;
  color: #ffff;
}

.close-button {
  margin-top: 20px;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #e53935;
  color: white;
  cursor: pointer;
}

.close-button:hover {
  background: #c62828;
}


.btn{
  height: 24px;
  border-radius: 4px;
  padding: 1rem;
  background-color: #e53935;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: shaking 2s infinite;
}

@keyframes shaking{
  10% {
    transform: scale(1.05) rotate(5deg);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
  }
  30% {
    transform: scale(1.05) rotate(5deg);
  }
  40% {
    transform: none;
  }
}